@charset "UTF-8";

//   =============================================================================
//   Btn
//   =============================================================================


//   Btn Default
//   =============================================================================
.ds-btn{
	display: inline-block;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;
	@include box-sizing(border-box);
	cursor: pointer;
	padding: $padding-btn-small $padding-btn;
	border-radius:100px;
	font-size: $font-size-btn;
	font-family: $ds-regular;
}

//   Btn Scream
//   =============================================================================
.ds-btn-scream{
	color:$white;
	border:2px solid $blueAction;
	background: $blueAction;
}

//   Btn shout
//   =============================================================================
.ds-btn-shout{
	color:$blueAction;
	border:2px solid $blueAction;
	background: $white;
}

//   Link
//   =============================================================================
.ds-link{
	color:$blueAction;
	font-size: $font-size-link;
	text-decoration: none;
	font-family: $ds-regular;
}

.ds-link-arrow-left{
	position: relative;
	&:after{
		content: ' ';
		position: absolute;
		width: 6px;
		height: 6px;
		top: 5px;
		left: -12px;
		margin:auto;
		border-width: medium medium 2px 2px;
		border-style: none none solid solid;
		border-color: -moz-use-text-color -moz-use-text-color $blueAction $blueAction;
		-moz-border-top-colors: none;
		-moz-border-right-colors: none;
		-moz-border-bottom-colors: none;
		-moz-border-left-colors: none;
		border-image: none;
		transform: rotate(-135deg);
		z-index: 1000;
	}
}


