@charset "UTF-8";

//   =============================================================================
//   Forms
//   =============================================================================

// Label
// ==========================================================================

.ds-form-label{
	@include box-sizing(border-box);
	display: inline-block;
	font-family: $ds-light;
	font-size: rem(17px);
	color: $black-35;
	border: 0 none;
}


// Radio & Checkbox
// ==========================================================================

.ds-form-checkbox,
.ds-form-radio{display: none;}


// Checkbox
// ==========================================================================
.ds-form-label-checkbox{
	position: relative;
	&:after,
	&:before{
		content: "";
		display: inline-block;
		cursor: pointer;
		position: absolute;
		margin: 0px;
		padding: 0px;
	}
	&:after{
		left:0;
		border:2px solid black;
		width:17px;
		height:17px;

	}
	&:before{
		width: 9px;
		height: 5px;
		top: 4px;
		left: 4px;
		border: 3px solid black;
		border-top: none;
		border-right: none;
		background: transparent;
		opacity: 0;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		background:red;
		z-index: 1000;
	}
}


// Radio
// ==========================================================================

.ds-form-label-radio{
	position: relative;
	&:after,
	&:before{
		content: "";
		display: inline-block;
		cursor: pointer;
		position: absolute;
		margin: 0px;
		padding: 0px;
	}

	&:after{
		left:0;
		border:2px solid black;
		border-radius:100%;
		width:17px;
		height:17px;

	}
	&:before{
		left:2px;
		top:2px;
		width:15px;
		height:15px;
		background: red;
		border-radius:100%;

	}
}

// Select
// ==========================================================================


// textarea
// ==========================================================================




// Checkbox toogle IOS
// ==========================================================================

.ds-form-switch-checkbox{
	display: none;
	opacity: 0;
}
.ds-form-switch-label{
	display: block;
	font-size: 10px;
	padding-left: ($size-switch * 2) + 11;
	position: relative;
	color:$black-35;
	font-family: $ds-light;

	&:before,
	&:after {
		content: "";
		display: inline-block;
		cursor: pointer;
		position: absolute;
		margin: 0px;
		padding: 0px;
	}

	&:before{
		@include transition (all 0.2s ease);
		width: $size-switch;
		height: $size-switch;
		background: $white;
		border-radius: $size-switch;
		top: 2px;
		left: 2px;
		z-index: 10;
	}

	&:after{
		@include transition (all 0.5s ease);
		width: ($size-switch * 2) - 4;
		height: $size-switch + 4;
		background: $black-35;
		border-radius: $size-switch;
		top: 0px;
		left: 0px;
		z-index: 9;
	}
}

.ds-form-switch-checkbox:checked + .ds-form-switch-label::before {left:21px;}
.ds-form-switch-checkbox:checked + .ds-form-switch-label::after {background: $blueAction;}


// Form type
// ==========================================================================

.ds-form{
	display: block;
	margin: 10px 0;
}

.ds-form-fieldset{
	border:0;
	padding: 0;
	margin:10px 0;
	background: $white;

	.ds-form-input-text:focus,
	.ds-form-input-text:invalid,
	.ds-form-select{
		box-shadow: none;
		outline: none;
	}

	.ds-form-group-element {
		border: solid 1px $black-12;
		padding: $padding-input;

		&.no-border{border:0;}

		.ds-form-select,
		.ds-form-input-text{
			@include box-sizing(border-box);
			display: block;
			width: 100%;
			font-family: $ds-light;
			font-size: rem(17px);
			color: $black-35;
			background-color: #ffffff;
			border: 0 none;
		}

		&.ds-form-group-element:first-child {
			@include border-top-radius($radius-form);
		}

		&.ds-form-group-element:last-child {
			@include border-bottom-radius($radius-form);
		}

		&.ds-form-group-element + &.ds-form-group-element:last-child {
			@include border-bottom-radius($radius-form);
		}
	}

	.ds-form-group-element + .ds-form-group-element {
		border-radius: 0;
		border-top: 0;
	}
}


// Input error
// ==========================================================================

.ds-form-error{
	position: relative;
	display: block;
	width: 100%;
	padding: $padding-field-error $padding-input;
	background: $error;
	color:$white;
	font-size: 14px;
	font-family: $ds-light;
	text-align: left;
	margin: $padding-input 0 (-$padding-input)  (-$padding-input);
	@include transition(1s ease all);

	&:after{
		position: absolute;
		content: " ";
		right:8px;
		top:-20.5px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 20.5px 20px 20.5px;
		border-color: transparent transparent $error transparent;
	}

	&:before{
		position: absolute;
		content: " ";
		right:22px;
		top:-40px;
		width:12px;
		height:12px;
		background: $ico-error center center no-repeat;
	}
}


