@charset "UTF-8";

//   =============================================================================
//   Forms
//   =============================================================================

// Label
// ==========================================================================

.ds-form-label{
	@include box-sizing(border-box);
	display: inline-block;
	font-family: $ds-light;
	font-size: rem(17px);
	color: $black-35;
	border: 0 none;
}


// Form type
// ==========================================================================

.ds-form{
	display: block;
	margin: 10px 0;
}

.ds-form-fieldset {
	border: 0;
	padding: 0;
	margin:0;
}

.ds-form-fieldset-content{
	border: solid 1px $black-12;
	border-radius: $radius-form;
	background: $white;
	margin: 10px 0;
}


.ds-form-group {
	border-top: solid 1px $black-12;
	padding: $padding-input-y $padding-input-x;
	position: relative;

	input[type="text"]:focus,
	input[type="text"]:invalid,
	select{
		box-shadow: none;
		outline: none;
	}

	label{@extend .ds-form-label;}

	select,
	input[type="text"]{
		@include box-sizing(border-box);
		display: block;
		width: 100%;
		font-family: $ds-light;
		font-size: rem(17px);
		color: $black-57;
		background-color: #ffffff;
		border: 0 none;
		padding: 0;
		margin: 0;
	}

	&.ds-no-border{
		border:0;
		background: none;
	}

	&.ds-form-group-first,
	&:first-child {
		border-top:0 none;
	}

	.ds-form-group{
		padding:0;
		border:0;
	}

	.ds-form-group-element{
		.ds-form-checkbox,
		.ds-form-radio{
			margin-top: 16px;
		}
	}
}


// Checkbox
// ==========================================================================

.ds-form-checkbox-type-2{
	label{
		display: block;
		position: relative;
		padding-left: 30px;
		&:after,
		&:before{
			content: " ";
			cursor: pointer;
			position: absolute;
			margin: 0px;
			padding: 0px;
		}
		&:after{
			left:0;
			width:17px;
			height:17px;
			border-radius: 2px;
			border:1px solid $black-12;
			background: transparent;

		}
		&:before{
			opacity: 0;
			width: 9px;
			height: 5px;
			top: 4px;
			left: 4px;
			border: 2px solid $white;
			border-top: none;
			border-right: none;
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
			z-index: 10;
		}
	}

	input[type="checkbox"]{display: none;}

	// Checked
	input[type="checkbox"]:checked + label::after {
		background: $blueAction;
		@include transition (all 0.5s ease);
	}
	input[type="checkbox"]:checked + label::before{
		opacity: 1;
		@include transition (all 0.5s ease);
	}
}


//Optin
.ds-form-checkbox {

	&:last-child{margin-bottom: 0;}
	input[type="checkbox"]{
		display: none;
		opacity: 0;
	}

	label{
		display: block;
		padding-right: ($size-switch * 2) + 10;
		position: relative;

		&:before,
		&:after {
			content: "";
			display: inline-block;
			cursor: pointer;
			position: absolute;
			margin: 0px;
			padding: 0px;
		}

		&:before{
			@include transition (all 0.2s ease);
			width: $size-switch;
			height: $size-switch;
			background: $white;
			border-radius: $size-switch;
			top: 2px;
			right: 2px;
			z-index: 10;
		}

		&:after{
			@include transition (all 0.5s ease);
			width: ($size-switch * 2);
			height: $size-switch + 4;
			background: $black-35;
			border-radius: $size-switch;
			top: 0px;
			right: 0px;
			z-index: 9;
		}
	}

	input[type="checkbox"]:checked + label::before {right:$size-switch - 2;}
	input[type="checkbox"]:checked + label::after {background: $blueAction;}
}


// Radio
// ==========================================================================

.ds-form-radio{
	$spacing-radio: $size-radio /2;

	display: inline-block;
	padding-right:40px;


	input[type="radio"]{
		display: none;
		opacity: 0;
	}
	label{

		position: relative;
		padding-left: ($size-radio + $spacing-radio) + 10;
		&:after,
		&:before{
			content: "";
			display: inline-block;
			cursor: pointer;
			position: absolute;
			margin: 0px;
			padding: 0px;
		}

		&:after{
			left:0;
			top:0;
			border:1px solid $black-12;
			border-radius:100%;
			width:$size-radio + $spacing-radio;
			height:$size-radio + $spacing-radio;
		}
		&:before{
			left:($spacing-radio / 2) + 1;
			top:($spacing-radio / 2) + 1;
			width:$size-radio;
			height:$size-radio;
			background: none;
			border-radius:100%;
		}
	}

	//Checked
	input[type="radio"]:checked + label::before {
		@include transition (all 0.5s ease);
		background: $blueAction;
	}
}

// Select
// ==========================================================================

.ds-form-select{
	$border-size:2px;
	/*
	&:before{
		content: " ";
		cursor: pointer;
		position: absolute;
		margin: 0px;
		padding: 0px;
		width: 9px;
		height: 9px;
		top: $padding-input-x;
		right: $padding-input-x + $border-size;
		border: $border-size solid $black-22;
		border-top: none;
		border-right: none;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		z-index: 1000;
	}
	*/
	select {
		color: $black-35;
		background: $ico-arrow-bot right center no-repeat;
		background-image: none \9;
		position: relative;
		@include appearance(none);
		// Hides the default caret in IE11
		&::-ms-expand {
			opacity: 0;
		}

	}
}


// textarea
// ==========================================================================

.ds-form-textarea{
	textarea{
		width:100%;
		@include box-sizing(border-box);
		font-family: $ds-light;
		font-size: rem(17px);
		color: $black-35;
		border: 0 none;
		resize: none;
		background: none;
	}
}


// Checkbox toogle IOS
// ==========================================================================

.ds-form-switch{
	input{
		display: none;
		opacity: 0;
	}

	label{
		display: block;
		font-size: 12px;
		padding-left: ($size-switch * 2) + 11;
		position: relative;
		color:$black-35;
		font-family: $ds-light;
		padding-right: 0;

		&:before,
		&:after {
			content: "";
			display: inline-block;
			cursor: pointer;
			position: absolute;
			margin: 0px;
			padding: 0px;
		}

		&:before{
			@include transition (all 0.2s ease);
			width: $size-switch;
			height: $size-switch;
			background: $white;
			border-radius: $size-switch;
			top: 2px;
			left: 2px;
			z-index: 10;
		}

		&:after{
			@include transition (all 0.5s ease);
			width: ($size-switch * 2);
			height: $size-switch + 4;
			background: $black-35;
			border-radius: $size-switch;
			top: 0px;
			left: 0px;
			z-index: 9;
		}
	}

	input:checked + label::before {left:$size-switch - 2;}
	input:checked + label::after {background: $blueAction;}

}


// Input error
// ==========================================================================

.ds-form-error{
	position: absolute;
	z-index: 20;
	@include box-sizing(border-box);
	display: block;
	width: calc(100% + 2px);
	padding: $padding-field-error $padding-input-x;
	background: $error;
	border: 1px solid $error;
	color:$white;
	font-size: 14px;
	line-height: 14px;
	font-family: $ds-light;
	text-align: left;
	margin: 0 0 (0)  (-$padding-input-x - 1);
	@include transition(1s ease all);
	bottom:-49px;
	cursor: pointer;

	&:after{
		position: absolute;
		z-index: 20;
		content: " ";
		right:8px;
		top:-20.5px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 20.5px 20px 20.5px;
		border-color: transparent transparent $error transparent;
	}

	&:before{
		position: absolute;
		z-index: 20;
		content: " ";
		right:22px;
		top:-36px;
		width:12px;
		height:12px;
		background: $ico-error center center no-repeat;
		cursor: pointer;
	}
}

