@charset "UTF-8";

//   =============================================================================
//   Overlay
//   =============================================================================

.ds-overlay-22,
.ds-overlay-35,
.ds-overlay-57,
.ds-overlay-92{
	position: relative;
	/*
	&:after{
		content:' ';
		position: absolute;
		left:0;
		right:0;
		top:0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
	*/
}

.ds-overlay-22{background-color: $overlay-blue-22;}
.ds-overlay-35{background-color: $overlay-blue-35;}
.ds-overlay-57{background-color: $overlay-blue-57;}
.ds-overlay-92{background-color: $overlay-blue-92;}


