@charset "UTF-8";

// ==========================================================================
// FORM STEP
// ==========================================================================

body{padding: 150px;}


// Common
// Global container
.ds-ldp-global-container{
	margin: auto;
	position: relative;
	@include box-sizing(border-box);
	border-radius:$radius-form;
	overflow: hidden;
	box-shadow: 0 12px 57px 0 $black-22;

}

.ds-lpd-info-form,
.ds-ldp-form-container{
	float: left;
	@include box-sizing(border-box);
	height:685px;
	position: relative;
	margin:0;
}

//Info (left)
.ds-lpd-info-form{
	background-size: cover;
	position: relative;
	z-index: 2;
	overflow: hidden;
	padding: 0 57px;
}

//STEP 1
.ds-ldp-global-step-1{
	width: 476px;
	.ds-lpd-info-form,
	.ds-ldp-form-container {width: 100%;}
	.ds-ldp-form-container{
		position: absolute;
		z-index: 2;
		left:0;
		right:0;
		top:0;
		bottom: 0;
	}
	.ds-form-fieldset{
		background: none;
	}
}

//STEP 2
.ds-ldp-global-step-2{
	width: 952px;
	.ds-lpd-info-form,
	.ds-ldp-form-container {width: 50%;}
}


// background blur
.ds-lpd-info-blur{
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	bottom: 0;
	left:0;
	right:0;
	background-size: cover;
	-webkit-filter: blur(4px);
	filter: blur(4px);
	@extend .ds-overlay-57;
	@include box-sizing(border-box);
	z-index: -1;
}

// Tab header
.ds-tabs-header{
	margin: 100px 10px 50px 10px;
	padding: 0;
	letter-spacing: -0.31em;
	position: relative;

	&:after{
		content: ' ';
		position: absolute;
		bottom: -16px;
		left:0;
		right:0;
		width:100%;
		height:5px;
		border-radius: 25px;
		background: $white-22;
	}

	//Tab active 1
	&.step-1-active:before,
	&.step-2-active:before{
		content: ' ';
		position: absolute;
		bottom: -16px;
		width:50%;
		height:5px;
		border-radius: 25px;
		background: $white;
		@include transition(1s ease all);
	}
	//Tab active 1
	&.step-1-active:before{left:0;}
	//Tab active 2
	&.step-2-active:before{left:50%;}

	li{
		list-style: none;
		text-align: center;
		display: inline-block;
		@include box-sizing(border-box);
		width:50%;
		font-size: 14px;
		text-decoration: none;
		font-family: $ds-regular;
		color:$white;
		a{
			font-size: 14px;
			text-decoration: none;
			font-family: $ds-regular;
			color:$white;
			display: block;
		}
	}
}

//tab container
.ds-tabs-container{
	.ds-tab{
		font-size: 32px;
		line-height: 30px;
		text-decoration: none;
		font-family: $ds-light;
		color:$white;
		text-align: center;
		display: block;

	}
}

