<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">


  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">


  <link rel="stylesheet" href="css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/cayman.css">

  <!-- import jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- import polymer -->
  <link rel="import" href="bower_components/com.threeds.form/dist/bower_components/polymer/polymer.html">
  <link rel="import" href="bower_components/com.threeds.form/dist/bower_components/polymer-ts/polymer-ts.html">
  <script src="bower_components/com.threeds.form/dist/bower_components/webcomponentsjs/webcomponents-lite.js"></script>

  <!-- import dassault systemes library com.threeds.ladingpage  -->
  <script type="text/javascript" src="bower_components/com.threeds.form/dist/threeds.ladingpage.js"></script>
  <link rel="stylesheet" href="bower_components/com.threeds.form/dist/threeds.form.css" />

  <link rel="stylesheet" href="bower_components/codemirror/lib/codemirror.css">
  <link rel="stylesheet" href="bower_components/codemirror/addon/hint/show-hint.css">
  <script src="bower_components/codemirror/lib/codemirror.js"></script>
  <script src="bower_components/codemirror/addon/hint/show-hint.js"></script>
  <script src="bower_components/codemirror/addon/hint/xml-hint.js"></script>
  <script src="bower_components/codemirror/addon/hint/html-hint.js"></script>
  <script src="bower_components/codemirror/mode/xml/xml.js"></script>
  <script src="bower_components/codemirror/mode/javascript/javascript.js"></script>
  <script src="bower_components/codemirror/mode/vbscript/vbscript.js"></script>
  <script src="bower_components/codemirror/mode/css/css.js"></script>
  <script src="bower_components/codemirror/mode/htmlmixed/htmlmixed.js"></script>

  <style>
    .CodeMirror {
      font-size: 0.8rem;
      height: auto;
      border: 1px solid #ddd;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .CodeMirror-scroll {
      max-height: 400px;
    }

    .CodeMirror pre {
      padding-left: 7px;
      line-height: 1.2rem;
    }
  </style>

  <script type="text/javascript">
    (function ($) {
      $.fn.editor = function (options) {
        var options = $.extend({
          url: null,
          content: null
        }, options);

        var editor = CodeMirror.fromTextArea(this[0], {
          mode: "text/html",
          lineNumbers: true
        });

        if (options.url != null) {
          $.get(options.url, function (data) {
            editor.setValue(data);
          });
        }
      };

    })(jQuery);
  </script>
</head>
