@charset "UTF-8";

// ==========================================================================
// FORM
// ==========================================================================

@import "ldp-form-step";
@import "ldp-form-animation";

@import "ldp-form-drupal";
@import "ldp-form-responsive";


// Autocomplete
// ==========================================================================

.ds-ldp-global-container .hide {display: none;}

.ds-autocomplete.autocomplete-suggestions {
	text-align: left;
	font-family: $ds-light;
	font-size: 17px;
	color: $black-35;
	background-color: #ffffff;
	cursor: default;
	border: solid 1px $black-12;
	border-top: 0;
	background: #fff;
	/* core styles should not be changed */
	position: absolute;
	display: none;
	z-index:  999;
	max-height: 254px;
	overflow: hidden;
	overflow-y: auto;
	box-sizing: border-box;
}

.ds-autocomplete.autocomplete-suggestion {
	position: relative;
	padding: 0 .6em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: $ds-light;
	font-size: 17px;
	color: $black-35;
}

.ds-autocomplete.autocomplete-suggestion b {
	font-weight: normal;
	color: #1f8dd6;
}

.ds-autocomplete.autocomplete-suggestion.selected {
	background: #f0f0f0;
}








