@charset "UTF-8";

// ==========================================================================
// LDP FORM ANIMATION
// ==========================================================================

.ds-ldp-global-step-1 {
	animation-name: step1;
	animation-duration: 600ms;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-delay: 0;
}

@keyframes step1 {

	from {
		width: 476px;
	}

	to {
		width: 952px;
	}

}