@charset "UTF-8";

// ==========================================================================
// LDP FORM STEP
// ==========================================================================

// Common
// ==========================================================================

// Global
.ds-ldp-global-container{
	margin: auto;
	width: 476px;
	position: relative;
	@include box-sizing(border-box);
	border-radius:$radius-form;
	overflow: hidden;
	display: block;
	z-index: 1000;
	box-shadow: 0 12px 57px 0 $black-22;
}

// block left & right
.ds-lpd-info-form,
.ds-ldp-form-container{
	@include box-sizing(border-box);
	position: relative;
	margin:0;
	//float:left;
	width: 476px;
}



//Info (left)
.ds-lpd-info-form{
	background-size: cover;
	position: relative;
	z-index: 2;
	overflow: hidden;
	padding: 0 57px;
	height:685px;
}

// Block right
.ds-ldp-form-container{
	position: absolute;
	z-index: 2;
	right:0;
	top:480px;
	bottom: 0;
	padding: 0 57px;
}

// background blur
.ds-lpd-info-blur,
.ds-lpd-info-no-blur{
	width:105%;
	height:105%;
	position: absolute;
	top:0;
	bottom: 0;
	left:0;
	right:0;
	background-size: cover;
	background-position: center center;
	@extend .ds-overlay-57;
	@include box-sizing(border-box);
	z-index: -1;
	&:after{
		content: '';
		width:100%;
		height:100%;
		position: absolute;
		top:0;
		bottom: 0;
		left:0;
		right:0;
		@extend .ds-overlay-57;
	}
}

// background blur
.ds-lpd-info-blur{
	filter: blur(4px);
	-webkit-filter: blur(4px);
	-moz-filter: blur(4px);
	-o-filter: blur(4px);
	-ms-filter: blur(4px);
	margin: -4px -8px -8px -4px;
}

// Tab header
.ds-tabs-header{
	margin: 100px 10px 50px 10px;
	padding: 0;
	letter-spacing: -0.31em;
	position: relative;

	&:after{
		content: ' ';
		position: absolute;
		bottom: -16px;
		left:0;
		right:0;
		width:100%;
		height:5px;
		border-radius: 25px;
		background: $white-22;
	}

	//Tab active 1
	&.step-0-active:before,
	&.step-1-active:before{
		content: ' ';
		position: absolute;
		bottom: -16px;
		width:50%;
		height:5px;
		border-radius: 25px;
		background: $white;
		left:0;
		@include transition(1s ease all);
	}

	&.step-0-active,
	&.step-1-active{
		li.active{
			color:$white;
			@include transition(1s ease all);
			a{
				cursor: default;
				color:$white;
				@include transition(1s ease all);
			}
		}
	}


	//Tab active 1
	&.step-0-active:before{left:0;}

	//Tab active 2
	&.step-1-active:before{left:50%;}


	li{
		list-style: none;
		text-align: center;
		display: inline-block;
		@include box-sizing(border-box);
		width:50%;
		font-size: 14px;
		text-decoration: none;
		font-family: $ds-regular;
		color:$white-22;
		a{
			font-size: 14px;
			text-decoration: none;
			font-family: $ds-regular;
			color:$white-22;
			display: block;
		}
	}
}

// overide Knack css
ul.ds-tabs-header:first-child{
	margin-top: 100px;
}

//tab container
.ds-tabs-container{
	height: 260px;
	overflow: hidden;
	position: relative;
	.ds-tab{
		position: absolute;
		top:0;
		font-size: 32px;
		line-height: 30px;
		text-decoration: none;
		font-family: $ds-light;
		color:$white;
		text-align: center;
		opacity: 0;
		&.active{
			opacity: 1;
		}
	}
}


// STEP 1 Element
// ==========================================================================

// btn circle
.ds-btn-circle{
	background: url("../assets/images/icon-arrow-circle.svg") center top no-repeat;
	font-family:$ds-regular;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	color: $white;
	padding-top: 40px;
	border:0;
}


// STEP 2 Element
// ==========================================================================

// Email valid
.ds-email-valid{
	font-size: 17px;
	font-family: $ds-regular;
	color: $white;
	text-align: left;
	position: relative;
	padding-top: 40px;
	&:before{
		content: ' ';
		position: absolute;
		width: 9px;
		height: 5px;
		top: 4px;
		left: 4px;
		border-width: medium medium 3px 3px;
		border-style: none none solid solid;
		border-color: -moz-use-text-color -moz-use-text-color #89d000 #89d000;
		-moz-border-top-colors: none;
		-moz-border-right-colors: none;
		-moz-border-bottom-colors: none;
		-moz-border-left-colors: none;
		border-image: none;
		transform: rotate(-45deg);
		z-index: 1000;
	}
}


// STEP 3 Element
// ==========================================================================

//Thank you message
.ds-title-ty{
	font-size: rem(40px);
	font-family: $ds-light;
	line-height: 48px;
	text-align: center;
	font-weight: normal;
	color: $white;
	position: relative;
	&:after{
		content: ' ';
		position: absolute;
		width: 110px;
		height: 50px;
		top: 150px;
		left: 0;
		margin:auto;
		right:0;
		border-width: medium medium 3px 3px;
		border-style: none none solid solid;
		border-color: -moz-use-text-color -moz-use-text-color $white $white;
		-moz-border-top-colors: none;
		-moz-border-right-colors: none;
		-moz-border-bottom-colors: none;
		-moz-border-left-colors: none;
		border-image: none;
		transform: rotate(-45deg);
		z-index: 1000;
	}
}

// download block
.ds-dl-info{
	background: white;
	text-align: center;
	p{
		font-size:rem(17px);
		font-family: $ds-light;
		padding: 32px 25% 21px 25%;
		text-align: center;
		color: $black-35;
		margin: 0;
	}
	a{
		display: inline;
		span{
			text-transform: uppercase;
			font-family: $ds-light;
			color: $black-35;
		}
	}
}

// Form contact
.ds-ldp-form-contact{
	max-width: 476px;
	margin: auto;
	text-align: center;
	p{
		font-size: rem(17px);
		font-family: $ds-light;
		color: $black-35;
		margin: 43px 0 31px 0;
	}
}


// STEP ERROR
// ==========================================================================

.ds-ldp-global-step-error{
	max-width: 476px;
}

.ds-ldp-form-error{
	font-size: rem(32px);
	text-align: center;
	padding: 0;
	line-height: 40px;
	text-decoration: none;
	font-family: $ds-light;
	color:$white;
}
